
.dataContainer {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 70vh;
}

.dataCardContainer {
    min-width: 5em;
    width: calc(100vw - 50rem);
    padding: 0.75rem;
}

.gridStyle {
    min-height: 8em;
    max-height: 12em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
}

@media screen and (max-width: 996px) {
    .dataContainer {
        width: 100%;
        min-height: 50vh;
        height: auto;
        padding: 0.5rem;
    }

    .dataCardContainer {
        margin: 0 auto;
        min-width: 9em;
        width: 80vw;
    }
}
