.bannerSection {
  height: 65vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 8rem;
}

.cardContainer {
  width: 22rem;
  height: 22rem;
  padding: 5rem 2.5rem;
}

@media screen and (max-width: 996px) {
  .bannerSection {
    min-height: 40rem;
    flex-direction: column;
    width: 100%;
    padding: 0.5rem;
  }

  .cardContainer {
    width: 18rem;
    width: 18rem;
    margin: auto;
    padding: 0.75rem;
  }
}
