.suiteDisplay {
    display: flex;
    flex-direction: row;
    height: 80vh;
}

@media screen and (max-width: 996px) {
    .suiteDisplay {
        flex-direction: column;
        min-height: 60vh;
        height: auto;
        padding: 0.5rem auto;
    }
}