
.testContainer {
    width: 90%;
    height: 35%;
    margin: 1em;
}

.editorContainer {
    height: 25vh;
    width: 55vw
}

.testEditor {
    height: 100%;
}

@media screen and (max-width: 996px) {
    .testContainer {
        width: 92vw;
    }

    .editorContainer {
        height: 50vh;
        width: 80vw;
    }
}