
.testContainer {
    width: calc(100vw - 50rem);
    height: 35%;
    padding: 0.75rem;
}

.editorContainer {
    height: 25vh;
    width: calc(100vw - 55rem)
}

.testEditor {
    height: 100%;
    width: calc(100vw - 55rem)
}

@media screen and (max-width: 996px) {
    .testContainer {
        width: 80vw;
        height: 90vh;
        margin: 0 auto;
    }

    .editorContainer {
        height: 45vh;
        width: 75vw;
    }
}