.versionSelector {
  height: 85vh;
  width: 22rem;
  display: flex;
  flex-direction: column;
  min-width: 22rem;
  overflow-y: auto;
}

.versionCard {
  display: flex;
  flex-direction: row;
  height: 5rem;
  width: 18rem;
  padding: 0.5em;
  margin: 0.5rem 0;
  outline: var(--ifm-color-emphasis-400) solid 2px;
  background-color: var(--ifm-card-background-color);
  border-radius: 0.25em;
}

.versionTitle {
  margin: 0.5em 1em;
  width: 8em;
}

@media screen and (max-width: 996px) {
  .versionSelector {
    height: 6rem;
    width: 100vw;
    flex-direction: row;
  }

  .versionCard {
    height: 4rem;
    margin: 0.25rem 0.5rem;
  }
}
