.testGridItem {
    width: 1.5em;
    height: 1.5em;
    margin: 0.5em;
}

.testGridItem:hover {
    cursor: pointer;
}

.passed {
    background-color: var(--ifm-color-success);
}

.ignored {
    background-color: var(--ifm-color-warning);
}

.failed {
    background-color: var(--ifm-color-danger);
}
