
.dataContainer {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 100vh;
}

.dataCardContainer {
    min-width: 5em;
    width: 90%;
    margin: 1em;
}

.gridStyle {
    min-height: 8em;
    max-height: 12em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
}

@media screen and (max-width: 996px) {
    .dataContainer {
        padding: 1rem;
        min-height: 50vh;
    }

    .dataCardContainer {
        min-width: 9em;
        width: 92vw;
    }
}
