.resultsDisplay {
  display: flex;
  flex-direction: column;
  height: 85vh;
  width: 100%;
  min-width: 300px;
  overflow: hidden;
}

.resultsNav {
  display: flex;
  flex-direction: row;
  height: 3.5rem;
  width: 100%;
  padding: 0.75em;
}

.navLink:hover {
  cursor: pointer;
}

.dropdownContainer {
  display: flex;
  flex-direction: row;
  width: 12rem;
  height: 2.5rem;
  padding: 0.5rem 0;
}

@media screen and (max-height: 996px) {
  .resultsDisplay {
    height: auto;
    width: calc(100vw-12px);
    overflow-y: auto;
  }

  .resultsNav {
    height: 3.5rem;
    width: 100vw;
    padding: 0.75rem auto;
  }
}
